*{
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  margin:0;
  background:linear-gradient(to right, #e3fa5f, #f46d55 );
}

.calculator-grid{
  margin-top:5rem;
  display:grid;
  grid-template-columns: repeat(4,6rem);
  /* auto for in case of the input becomes lag-rger more than one line */
  grid-template-rows: minmax(7rem, auto) repeat(5,6rem);
  justify-content: center;
}
.span-two{
  grid-column: span 2;
}
.output-area{
  grid-column: 1/-1;
  background-color: rgba(0,0,0,.75);
  border-radius: 5px;
  display:flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  padding:.75rem;
  word-wrap: break-word;
  word-break: break-all;
}

.calculator-grid > button {
  cursor:pointer;
  border: 1px solid gray;
  background: rgb(245, 245, 245,.75);
  border-radius: 5px;
  font-size:2rem;
}
.calculator-grid > button:hover,
.calculator-grid > button:focus{
  background-color: rgb(245, 245, 245, .85) ;
}

.calculator-grid >.diffcolor {
  background-color: rgb(255, 99, 71,.80);
  color: white;
} 
.calculator-grid >.diffcolor:hover,
.calculator-grid >.diffcolor:focus{
  background-color: rgb(255, 99, 71,.90); ;
}

.previous-operand{
  color:rgba(255,255,255,.75);
  font-size:1.5rem;
}
.current-operand{
  color:white;
  font-size:2.5rem;
}